[class*="avatar_"],
[class*="voiceAvatar"],
div[class^="avatar"] [class^="circularImage"],
div[class^="avatarStack__"]:after {
    border-radius: var(--custom-avatar-radius);
    transition: border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
